body {
  background-image: url("/assets/Hiking.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  color: #222; /* رنگ متن کمی تیره‌تر برای خوانایی بهتر */
  line-height: 1.6;
}
.content-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
a {
  color: #3366cc;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #003399;
}
